<html>

<head>
	<title> Few Tube </title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">	
</head>

<body>
	<div id="app">
	<v-app>
		<v-container fill-height>
			<v-flex>

				<v-flex xs12 md5 offset-xs1 offset-md3 class="text-xs-center">
					<img :class="logoSize+' mb-3'" src="https://upload.wikimedia.org/wikipedia/commons/3/34/YouTube_logo_%282017%29.png">
		    		<v-layout row class=mb-4>
			    		<v-text-field hide-details 
			    					  prepend-icon="videocam"
			    					  label="Search Video"
			    					  v-model="searchKeyword"
			    					  :loading="loading"
			    		></v-text-field>	
	    		    </v-layout>	
		    	</v-flex>
		
			    <v-flex v-if="showSearchResults">
			      <v-layout xs12 elevation-1 class="py-3 grey lighten-4 my-3" v-for="video in searchResults" :key="video.id.video" xs12>
			      	<img class="pointer thumbnails" @click="showVideo(video)" :src="video.snippet.thumbnails.medium.url">
			      	<v-flex class="pa-3">
			      		<v-flex xs9 class="headline pointer hover-text"><div @click="showVideo(video)">{{video.snippet.title}}</div></v-flex>
			      		<v-flex class="subheading">{{video.snippet.channelTitle}}</v-flex>
			      		<v-flex xs6 class=caption> {{video.snippet.description}}</v-flex>
			      	</v-flex>
			      </v-layout>
			    </v-flex>	

				<v-dialog
					v-model="videoDialog"
					transition="dialog-bottom-transition"
					persistent
					max-width="680px"
				>
					<v-card>
					  <v-toolbar card dark color="primary">
					    <v-btn icon @click.native="hideVideo()" dark>
					      <v-icon>close</v-icon>
					    </v-btn>
					    <v-toolbar-title>{{currentVideo.snippet.title}}</v-toolbar-title>
					   </v-toolbar>  
					   <v-card-text>
						    <v-layout>
						      <v-flex>
						    	<div id="player"></div>
						      </v-flex>
						    </v-layout>           
				   		</v-card-text>    		
					</v-card>
				</v-dialog>

			</v-flex>
		</v-container>
	</v-app>
	</div>
</body>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="javascript.js"></script>

</html>