.logo-big{
	width:100%;
	height:auto;
}
.logo-small{
	width:60%;
	height:auto;
}
.thumbnails{
	width:100%;
	height:auto;
	background-color: black;
}
.pointer{
	cursor:pointer;
}
.hover-text:hover{
	color:red;
	transition: 0.5s;
}